<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="Test1" parallel="true">
<groups>
            <run>
              <include name = "REgression"></include>
             
            </run>
        </groups>
    <classes>
      <class name="Testng_concepts.TestClass1"/>
      <class name="Testng_concepts.TestClass2"/>
      <class name="Testng_concepts.TestClass3"/>
      <class name="Testng_concepts.TestClass4"/>
      <class name="Testng_concepts.TestClass5"/>
</classes>
</test>

 <test thread-count="0" name="TEST2" parallel="false">
<classes>
      <class name="Testng_concepts.TestClass6"/>
      <class name="Testng_concepts.TestClass7"/>
      <class name="Testng_concepts.TestClass8"/>
      <class name="Testng_concepts.TestClass9"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
